@import url("https://fonts.googleapis.com/css?family=Anton&display=swap:400,500,600,700");

/*-------------------------------Band Name/Nav-------------------------------*/

.main-header {
    padding: 0;
    margin: 0;
    text-align: center;
}

#header-small {
    font-family: "Anton", sans-serif;
    font-size: 20px;
}

#header-large {
    font-family: "Anton", sans-serif;
    margin-top: .5rem;
}

.band-home-link {
    text-decoration: none;
    color: #fafafa;
}

.band-home-link:hover {
    text-decoration: none;
    color: #fafafa;
}

.navbar .navbar-toggler {
    border: none;
}

/*-------------------------------General-------------------------------*/

.clearit {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

/*-------------------------------Backgrounds-------------------------------*/

.bg-gold {
    background-color: #866e39;
}

.bg-grey {
    background-color: #7c7b7b;
}

/*-------------------------------Main Image-------------------------------*/

.band-image {
    background: url("../assets/images/hlh main.jpg");
    margin-top: 30px;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}






/*-------------------------------Media Queries-------------------------------*/

@media (min-width: 768px) {
    .navbar {    
    position: relative;
     }
    .band-image {    
    height: 85vh;
     }
    #header-small {
    font-size: 50px;
     }
    #header-large {
    font-size: 80px;
     }
    .band-image {
    margin-top: 0;
     }
    }


    