@import url("https://fonts.googleapis.com/css?family=Anton&display=swap:400,500,600,700");

/*-------------------------------Band Name/Nav-------------------------------*/

.main-header {
    padding: 0;
    margin: 0;
    text-align: center;
}

#header-small {
    font-family: "Anton", sans-serif;
    font-size: 20px;
    margin: 0 2px 0 2px;
}

#header-large {
    font-family: "Anton", sans-serif;
    margin-top: .5rem;
}

.band-home-link {
    text-decoration: none;
    color: #fafafa;
}

.band-home-link:hover {
    text-decoration: none;
    color: #fafafa;
}

.navbar .navbar-toggler {
    border: none;
}

/*-------------------------------General-------------------------------*/

.clearit {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.overlay {
    background-color: rgba(0,0,0,.5);
    height: inherit;
    width: inherit;
    padding: 0;
    margin: 0;
}

.center-text {
    text-align: center;
}

/*-------------------------------Backgrounds-------------------------------*/

.bg-gold {
    background-color: #866e39;
}

.bg-grey {
    background-color: #7c7b7b;
}

.bg.trans {
    background-color: transparent;
}

.bg-concrete {
    background: url("../assets/images/bg texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

/*-------------------------------Main Image-------------------------------*/

.band-container {
    margin-top: 60px;
    height: 90vh;
    width: 100%;
    overflow: hidden;
}

.band-image {
    background: url("../assets/images/hlh main.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
     -webkit-animation: zoom-in 2.5s;
    animation: zoom-in 2.5s;
    -webkit-transform: scale(1.025,1.025); 
    transform: scale(1.025,1.025);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/*-------------------------------Footer-------------------------------*/

.footer-container {
    height: 120px;
    width: 100%;
}

.social-link {
    display: inline-block;
}






















/*-------------------------------Media Queries-------------------------------*/

@media (min-width: 768px) {
    .navbar {    
    position: relative;
     }
    #header-small {
    font-size: 50px;
     }
    #header-large {
    font-size: 80px;
     }
    .band-container {
    margin-top: 0;
     }
    .nav-item-style {
    font-size: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
}
    }

/*-------------------------------Keyframes-------------------------------*/

@keyframes zoom-in {
    from {
        transform: scale(1,1); 
    }
    to {
        transform: scale(1.025,1.025);
    }
}   

@-webkit-keyframes zoom-in {
    from {
        transform: scale(1,1); 
    }
    to {
        transform: scale(1.025,1.025);
    }
} 

    