@import url("https://fonts.googleapis.com/css?family=Anton|Roboto|Caveat|Permanent+Marker&display=swap:400,500,600,700");

/*-------------------------------Band Name/Nav-------------------------------*/

.main-header {
    padding: 0;
    margin: 0;
    text-align: center;
}

.header-small {
    font-family: "Anton", sans-serif;
    font-size: 20px;
    margin: 0 2px 0 2px;
}

.header-small-main {
    font-family: "Anton", sans-serif;
    font-size: 40px;
    margin: 0 2px 0 2px;
}

.header-large {
    font-family: "Anton", auto;
    margin-top: .5rem;
}

.header-large-main {
    font-family: "Anton", auto;
    margin-top: .5rem;
    font-size: 60px
}

.band-home-link {
    text-decoration: none;
    color: #fafafa;
}

.band-home-link:hover {
    text-decoration: none;
    color: #fafafa;
}

.navbar .navbar-toggler {
    border: none;
}

.nav-spacer {
    height: 65px;
    width: 100%;
}

/*-------------------------------General-------------------------------*/

body {
    font-family: roboto, sans-serif;
}

.clearit {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.overlay {
    background-color: rgba(0,0,0,.5);
    height: inherit;
    width: inherit;
    padding: 0;
    margin: 0;
}

.light-overlay {
    background-color: rgba(247, 247, 247, 0.5);
}

.dark-overlay {
    background-color: rgba(0,0,0,.8);
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.text-white {
    color: #fafafa;
}

.section-title {
    font-family: "Permanent Marker", sans-serif;
    padding: 20px 0 45px 0;
    font-weight: 800;
    font-size: 30px;
}

.section-title-text {
    font-family: Caveat, sans-serif;
    font-size: 20px;
    transform: translateY(-115%);
}

.quarter-width {
    width: 25%;
    margin-top: 1px;
    margin-bottom: 1px;
    border-color: #fafafa;
}

.default-btn {
    border-radius: 5px;
    border: 1px solid #6d5a31;
    background-color: #6d5a31;
    color: #fafafa;
    box-shadow: 1px 1px 1px #292727;
    margin-bottom: 18px;
}

.page-article {
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner-container {
    width: 100%;
    height: 26vw;
    overflow: hidden;
}

.page-header {
    font-family: "Permanent Marker", sans-serif;
    font-size: 7vw;
    padding-left: 20vw;
    position: relative;
    z-index: 2;
    color: #000000;
}

/*-------------------------------Backgrounds-------------------------------*/

.bg-night {
    background-color: #000000;
}

.bg-gold {
    background-color: #866e39;
}

.bg-grey {
    background-color: #7c7b7b;
}

.bg.trans {
    background-color: transparent;
}

.bg-concrete {
    background: url("../images/bg texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.bg-concrete-fixed {
    background: url("../images/bg texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-wood-fixed {
    background: url("../images/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-vinyl-fixed {
    background: url("../images/vinyl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-paper-fixed {
    background: url("../images/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*-------------------------------Main Image section-------------------------------*/

.band-container {
    height: 67vw;
    width: 100%;
    overflow: hidden;
}

.band-image {
    background: url("../images/hlh main.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: zoom-in 2.5s;
    -moz-animation: zoom-in 2.5s;
    animation: zoom-in 2.5s;
    -webkit-transform: scale(1.025,1.025); 
    -moz-transform: scale(1.025,1.025); 
    transform: scale(1.025,1.025);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/*-------------------------------Latest music video section-------------------------------*/

.video-container {
    height: 55vw;
    max-width: 900px;
    max-height: 570px
}

.video-container iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: 2px;
    padding: 2px;
    text-align: center;
    border: 0;
}

.video-name {
    font-size: 25px;
    padding-top: 10px
}

.video-release {
    font-size: 16px;
    margin-bottom: 30px;
}

/*-------------------------------Latest album section-------------------------------*/

.album-title {
    font-family: "Permanent marker", sans-serif;
    font-size: 37px;
    padding-top: 30px;
}

.album-container {
    width: 80%;
    height: 100%;
    max-width: 500px;
    display: inline-block;
    padding: 40px;
    padding-top: 20px;
}

.album-cover {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid #4b4747;
}

.track-list {
    /*display: block;*/
    text-decoration: none;
    list-style: none;
    line-height: 200%;
}

.listing-container {
    padding-top: 18px;
    padding-left: 11px;
}

.listing-container ul {
    padding: 0;
}

/*-------------------------------Latest gigs-------------------------------*/

.poster-container {
margin-left: 50px;
margin-right: 50px;
border: 1px solid #111111;
border-radius: 15px;
overflow: hidden;
margin-bottom: 30px;
}

.poster-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.ticket-link:hover {
    text-decoration: none;
}

.poster-title {
    font-size: 24px;
    transform: translateY(-50%);
    font-family: "Permanent marker", sans-serif;
}

.poster-text {
    font-size: 18px;
    transform: translateY(-10%);
}

.block {
    display: block;
    padding-bottom: 5px;
}

/*-------------------------------Latest News-------------------------------*/

.news-container {
    background: rgba(1,1,1,.2);
    box-shadow: 7px 7px 5px rgba(0,0,0,.5);
    margin: 5px;
    margin-bottom: 15px;
    float: right;
    font-family: Helvetica, sans-serif;
    padding: 15px;
    border-radius: 2px;
}

.news-image-container {
    float: left;
    background-color: #292727;
    padding: 5px;
    margin: 5px 15px 10px 0;
}

.news-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.news {
    font-size: 18px;
}

/*-------------------------------Band page-------------------------------*/

.band-banner {
    background: url(../images/band-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.about {
    font-family: Anton;
    padding-left: 30px;
    padding-right: 30px;
}

.spacer {
    height: 12px;
}

.member-container {
    box-shadow: 5px 5px 7px #000000;
    background-color: #fafafa;
    width: 315px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    font-family: Caveat, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 1px solid #111111;
}

.image-container {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 10px;
}

.member-image {
    height: 100%;
    width: 100%;
    display: block;
}

/*-------------------------------Shows page-------------------------------*/

.shows-banner {
    background: url(../images/shows-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.shows-banner .shows-title {
    top: 3%;
    color: #fafafa;
    left: -18%;
}

.table td, .table th {
    vertical-align: middle;
    padding-left: 2vw;
}

.show-btn {
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid #6d5a31;
    background-color: #6d5a31;
    color: #fafafa;
    box-shadow: 1px 1px 1px #292727;
}

.show-list {
    min-width: 750px;
    border-color: black;
}

.show-container {
    margin: 5px auto;
    width: 98%;
    overflow: auto;
}

/*-------------------------------Media page-------------------------------*/

.media-banner {
    background: url(../images/media-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.media-title {
    top: 29%;
    left: -2%; 
}

.video-page-container {
    height: 55vw;
    max-width: 900px;
    max-height: 570px
}

.media-track-list {
    text-decoration: none;
    list-style: none;
    line-height: 180%;
}

/*-------------------------------Gallery page-------------------------------*/

.gallery-banner {
    background: url(../images/gallery-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.gallery-title {
    top: 66%;
    color: #ffffff;
    left: 14%;
}

.gallery-image {
    height: 200px;
    width: 300px;
    margin: 1% 1.5% 3% 1.5%;
    border: 1px solid #111111;
}

.gallery-container {
    text-align: center;
}

/*-------------------------------Shop page-------------------------------*/

.shop-banner {
    background: url(../images/shopping-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.shop-title {
    top: 59%;
    color: #fdfdfd;
    left: 52%;
}

.shop-item {
    border: 1px solid #98958f;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.shop-item a img {
    width: 100%;
    height: 100%
}

.shop-item-title {
    margin: 0;
    padding-top: 5px;
}

.item-price {
    margin: 0;
    vertical-align: top;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 4px;
}

.shop-line {
    padding-bottom: 20px;
}

/*-------------------------------Bookings page-------------------------------*/

.bookings-banner {
    background: url(../images/bookings-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.bookings-title {
    top: 65%;
    color: #fdfdfd;
    left: -5%;
}

.bookings-form {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 40px 5px 0 5px;
    border: 1px solid #fafafa;
    border-radius: 15px;
}

.bookings-form .form-control {
    margin-bottom: 10px;
}

.form-group label {
    margin-left: 3px;
}

/*-------------------------------Footer-------------------------------*/

.footer-container {
    min-height: 120px;
    width: 100%;
    border-top: 1px solid #575333;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-heading {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;
}

.media-links {
    margin-bottom: 5px;
}

.media-links li a i {
    color: #fafafa;
    background-color: #6d5a31;
    padding: 6px;
    border: 1px solid #6d5a31;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .5s ease-in-out;
    margin-bottom: 12px
}

.media-links li a i:hover {
    background-color: #3e3a20;
    transform: scale(1.5,1.5);
}

.mail-list-input {
    border-radius: 5px;
    width: 80%;
    margin-bottom: 7px;
}
















/*-------------------------------Media Queries-------------------------------*/

@media (min-width: 576px) {
    .align-album {
    text-align: right;
    }
    .poster-title {
    font-size: 50px;
    }
     }

@media (min-width: 768px) {
    .navbar {    
    position: relative;
     }
    #header-small {
    font-size: 50px;
     }
    #header-large {
    font-size: 80px;
     }
    .nav-item-style {
    font-size: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
    }
    .footer-heading {
    font-size: 20px;
    }
    .mail-list-input {
    width: 250px;
    }
    .nav-spacer {
    height: 0;
    }
    .section-title {
    font-size: 48px;
    }
    .section-title-text {
    font-size: 30px;
    }
    .poster-title {
    font-size: 24px;
    }
    .bookings-form {
    width: 70%;
    }
    .shop-item {
    height: 70%;
    }
    .shop-line {
    padding-bottom: 5px;
    }
     }

    @media (min-width: 992px) {
        .news-container {
            height: 100%;
        }
    }

    @media (min-width: 1200px) {
    .poster-title {
    font-size: 50px;
    }
    .media-track-list {
    line-height: 168%;
    }
    .album-container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .gallery-container {
    padding: 0 5%;
    }
    .bookings-form {
    width: 50%;
    }
     }

/*-------------------------------Keyframes-------------------------------*/

@keyframes zoom-in {
    from {
        transform: scale(1,1); 
    }
    to {
        transform: scale(1.025,1.025);
    }
}   

@-webkit-keyframes zoom-in {
    from {
        transform: scale(1,1); 
    }
    to {
        transform: scale(1.025,1.025);
    }
} 

@-moz-keyframes zoom-in {
    from {
        transform: scale(1,1); 
    }
    to {
        transform: scale(1.025,1.025);
    }
} 
